*{
  margin:0;
  padding: 0;
}

.hero {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  border: 3px solid black;
  border-top: 0;
  height: 100%;
  width:100%;
}

.hero h1{
  font-family: 'Poppins', sans-serif;
  line-height: 102px;
  font-size: 108px;
  margin-top:35px;
  margin-left: 30px;
}

.hero p{
  font-size: 16px;
  width: 404px;
  height: 91px;
  margin-top: 30px;
  margin-left: 30px;
}

.hero-btn{
  margin-left: 30px;
}
.secondary-btn{
  background-color:#D01C28 ;
  height:41px;
  width:141px;
  font-weight: 800;
  font-size:15px ;
  color:white;
}


.primary-btn{
  margin-left: 30px;
  height:41px;
  width:141px;
  font-weight: 800;
  font-size:15px ;
}

.brand-icons img{
margin-top:30px;
margin-left: 40px;
}

.brand-icons img:hover{
  cursor: pointer;
}
.hero-btn button:hover{
  cursor: pointer;
}
.hero-image{
  height: 100px;
  width: 100px;
 
}

